Malware/RATclientSparta/.vs/*
Malware/RATclientSparta/bin/
Malware/RATclientSparta/obj/

Malware/RATserverSparta/.vs/*
Malware/RATserverSparta/bin/
Malware/RATserverSparta/obj/
Malware/.vs/RATclientSparta/v17/.suo
Malware/.vs/RATclientSparta/FileContentIndex/ea602b33-2bd5-493b-89e0-9a2db5979bae.vsidx
Malware/.vs/RATclientSparta/v17/.suo
